.nav-bar-inner > span > a {
    font-size: 15px !important;
}

.menu > li > a {
    font-size: 15px !important;
}

.bg-color-maroonLight {
  background-color: #CAB3BA !important;
}


.description.lighter {
    background-color: rgba(0,0,0,0.60) !important;
}

hr.dashed {
    width:  100%;
    color:  #bababa;
    border: dashed 1px #bababa;
}

.contact-div {
    border: 1px dashed #bababa;
    width:  49% !important;
    margin: 3px;
    float:right !important;
}

.contact-div:nth-child(even) {
    clear:both;
    float: left !important;
}

.contact-div-full {
    width:  100% !important;
    float:  left !important;
    padding: 3px;
}

@media all and (max-width: 800px) {
    .contact-div {
        width: 98% !important;
    }
}

table, td, th {
    border: none !important;
    border-collapse: collapse;
}

.main-table-row {
    vertical-align: top;
}

.lists-filter {
    cursor:hand;cursor: pointer;
    border-color: #66A3FF !important;

}

.list_td {
    width: 22%;
}
.contact_td {
    width: 8%;
}

.bottom {
    vertical-align: bottom;
}

.right.bottom {
    float:  right;
}

.list-selected {
    border: 1px solid blue !important;
}

.list-unselected {
    cursor: hand;
    cursor: pointer;
}

.inline {
    display: inline;
}

.padding10 {
    padding: 10px;
}

.helper-plus-2:before {
    content: "\e08c" !important;
}

.clear {
    clear: both;
}

.top-margin-9 {
    margin-top: 9px;
}

.bottom-margin-10 {
    margin-bottom: 10px;
}

#new_contact {
    margin-bottom: 0px !important;
}

#login-div {
    float:right;
}

#login_icon {
    float:left;
    margin-top:  5px;
}

.filter_div {
    max-height:300px;
    overflow-y:auto;
}

.filter-botton {
    height:50px;
    width:100%;
}

/* MEDIA QUERIES (INCREASING) */
@media all and (max-width: 420px) {
    .icon-input-inline {
        margin-top:    8px;
        margin-bottom: 8px;
        display: block !important;
    }   
    .new-input {
        width: 100% !important;
    }
    .inline-icon {
        display: none !important;
    }
    #new_contact {
        display: block !important;
        width:   100%  !important;
    }
}
@media all and (max-width: 900px) {
    .icon-input-inline {
        margin-top:    8px;
        margin-bottom: 8px;
        display: block !important;
    }   
    .new-input {
        width: 92% !important;
    }
    #new_contact {
        display: block !important;
        width:   100%  !important;
    }
}

@media all and (max-width: 980px) {
    .icon-input-inline {
        margin-top:    8px;
        margin-bottom: 8px;
        display: block !important;
    }
}

#new_contact {
    display: table;
    width:   100%  !important;
}

.icon-input-inline {
    display: table-cell;
}
.new-input {
    margin-right: 0 !important;
    width: 88%;
}